$blue1:#C7F7FF;
$blue2:#89C0C9;
$blue3:#3a5E63;

$brown1:#C9A689;
$brown2:#7C593C;

$grey1:#d4d4d4;
$grey2:#222;

$fontSS:'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$fontS:Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;